

div.quarto-about-trestles .about-entity .about-link {
  font-size: 1.3em !important;
  padding: .25em .5em;
  border-radius: 4px;
}

.icon-link{
  padding: .375rem .55rem;
  line-height: 1;
  margin: 0.2em;
  font-size: 0.85em
}

.pub-title{
  line-height: 1.15em;
  font-size: 1.3em;
  margin-bottom: 0.3em;
}

.pub-authors{
  line-height: 1.15em;
  margin-bottom: 0.3em;
}

.research-thumbnail{
  max-width: 10em;
}


/* CV */
@media screen {
  #cv_print_header { display: none; } 
}

.side-date{
  float: right;
  color: grey;
}

.entry-title{
  font-weight: bold;
}

.ol {padding-left: 1rem;}
  

/* hide link destinations when printing */ 
@media print {
  
  #TOC, d-title,
  .d-contents.d-contents-float{display: none;}
  a[href]:after {content: none;}
  d-article {
    border-top: none;
    padding-top: 0em;
  }
  
  /* create header for printed version of CV */
  #cv_print_header .p{  
    display: inline-block;
    margin: auto;
    text-align: center;
    font-family: serif;
    line-height: 2em;
  }
  
  
  .navbar-title{
    display: none ;
    color: transparent;
  }
  
  #title-block-header.quarto-title-block.default .quarto-title .title {
    display: none;
    text-align: center;
    transform: translate(0px,-15px);
  }
  
  #print_button { 
    display: none ;
  } 
  
  #body.floating.nav-fixed{
    color: red;
  }
  
  .floating .nav-fixed .quarto-light{
    color: red;
  }

  
  body, p, ol{
    font-family: serif;
    font-size: 11pt;
    margin-bottom: 0em;
    padding-bottom: 0em;
    transform: translate(0px,-40px);
  }
  

  h2, d-article h2 {
    margin-top: 0.8em;
    margin-bottom: 0pt;
    border-bottom: none;
    font-size: 10pt;
    font-family: serif;
    font-weight: 500;
    font-variant-caps: all-small-caps;
    transform: translate(0px,-40px);
  }
  
  /** Setting margins */       
  @page { 
    margin-top: 0.5cm;
    margin-bottom: 1.2cm ;
    
  }
}

