/* index */

div.quarto-about-trestles .about-entity .about-link {
  font-size: 1.3em !important;
  padding: .25em .5em;
  border-radius: 4px;
}

.icon-link{
  padding: .375rem .55rem;
  line-height: 1;
  margin: 0.2em;
  font-size: 0.85em
}

/* research */

.pub-title{
  line-height: 1.15em;
  margin-bottom: 0.3em;
}

.pub-authors{
  font-size: 0.8em; 
}

.research-thumbnail{
  max-width: 10em;
}

/* CV */

.entry-what{
  font-weight: bold;
}

.entry-when{
  float: right;
}

.entry-desc{
  font-style: italic;
}

.cv-line{
  width: 100%;
  height: 0px;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

.btn-secondary { font-size: 1.3em}

@media screen {
  
  h1, .h1{
    margin-bottom: 0.1em;
  }
  
  #cv_print_header { display: none; } 
}

/* hide link destinations when printing */ 
@media print { 

  /* create header for printed version of CV */
  #cv_print_header{  
    display: block;
    text-align: center;
  }
  
  #cv-title{
    font-size: 20pt;
    color: #0F2E3D;
  }
  
  .navbar, .quarto-title, #print_button {
    display: none ;
    color: transparent;
  }
  
  
  body, p, ol, .short-entry, .grid {
    font-family: serif;
    font-size: 11pt;
    margin-bottom: 0em;
    padding-bottom: 0em;
    transform: translate(0, -.7cm);
  }
  

  h1 {
    color: #0F2E3D;
    margin-top: 0.8em;
    margin-bottom: 0em;
    border-bottom: none;
    font-size: 12pt;
    font-family: serif;
    font-weight: 500;
    font-variant-caps: all-small-caps;
    transform: translate(0, -.7cm);
  }
  
  .grid {
    grid-template-columns: 2.5cm auto auto auto auto auto;
  }
  
  @page { 
    margin-top: 0.25cm;
    
  }
  
}

