/*-- scss:defaults --*/
// Base document colors
$primary:     #0F2E3D;    
$secondary:   #319FB7; 
$link-color:  $secondary;

$body-color:  #000;
$body-bg:     white; 
$navbar-fg:   white;
$navbar-hl:   white;

/*-- scss:rules --*/

h1, .h1 h2{
  color: $primary;
}

.quarto-title-banner .quarto-title .title {
  color: white;
}

