/*-- scss:defaults --*/
// Base document colors
$primary:     #0F2E3D;    
$secondary:   #2D5D7B; 
$link-color:  #666;

$body-color:  #000;
$body-bg:     #fff; /* #F8F5F0; */
$navbar-fg:   #fff;
$navbar-hl:   #85D4FF;

/*-- scss:rules --*/

h1, .h1{
  color: $primary;
}

.cv-line{
  border-top: 3px solid $secondary;
}

.pub-title{
  color: $primary;
  font-size: 1.3em;
  margin-bottom: 0;
}

.pub-authors{
  color: $secondary;
  margin-bottom: 0;
}

