/*-- scss:defaults --*/
// Base document colors
$primary:     #0F2E3D;
$secondary:   #19A0BE; 
$link-color:  $secondary;

$body-color:  #DDDDDD;
$body-bg:     #292929;
$navbar-fg:   white;
$navbar-hl:   white;

/*-- scss:rules --*/


h3 {
  color: $secondary;
}

.btn.btn-outline-primary{
  color: $body-color;
  border-color: $body-color;
}


