/*-- scss:defaults --*/
// Base document colors
$primary:     #0F2E3D;    
$secondary:   #319FB7; 
$link-color:  $secondary;

$body-color:  #000;
$body-bg:     #fff; /* #F8F5F0; */
$navbar-fg:   #fff;
$navbar-hl:   $secondary;

/*-- scss:rules --*/

h1, .h1{
  color: $primary;
}

.quarto-title-banner .quarto-title .title {
  color: #fff;
}

.cv-line{
  border-top: 3px solid $secondary;
}

