thead{display: none;}

.d-flex.flex-column.col.px-5.align-items-center.align-self-center.mh-100{
  overflow-y: auto !important;
}

body {
  background-color: #FFFFFF;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  background-color: #FFFFFF !important;
  text-decoration: none!important;
  font-family: 'Open Sans', sans-serif!important;
  font-weight:300!important;
  color:#0F2E3D!important;
}

button:hover {
  background-color: #0F2E3D !important;
  text-decoration: none!important;
  font-family: 'Open Sans', sans-serif!important;
  font-weight:300!important;
  color:#FFFFFF!important;
}


.btn-outline-dark {
    color: #0F2E3D;
    border-color: #0F2E3D;
}

a:hover{
  text-decoration:none;
  color: red;
}
