/* index */

.contact-btn{
  height: 100%;
  width: 45px;
  display: block;
  align-items: center;
  justify-content: center;
}

.cv-btn{
  font-size: 0.8rem;
  float: right;
  padding: .15rem .2rem;
}


h2 {
  border-bottom: none;
  margin-bottom: auto;
  font-size: calc(1.345rem + 1.14vw);
}


/* CV */

.entry-when{
  text-align: right;
  display: block;
}

.entry-bold{
  font-weight: bold;
  margin-bottom: 0rem;
}

.entry-plain{
  margin-bottom: 0rem;
}

.entry-italic{
  font-style: italic;
  margin-bottom: 0rem;
}

.cv-line{
  width: 100%;
  height: 0px;
  margin-bottom: 0.8rem;
}

@media screen {
  
  .grid.cv-entry{
    --bs-columns: 2; 
    --bs-gap: 0.5rem; 
    margin-bottom: 0.6rem;
    grid-template-columns: 80% 20%
  }
  
  #cv_print_header { display: none; } 
}

/* hide link destinations when printing */ 
@media print { 

  /* create header for printed version of CV */
  #cv_print_header{  
    display: block;
    text-align: center;
  }
  
  #cv-title{
    font-size: 20pt;
    color: #0F2E3D;
  }
  
  .navbar, .quarto-title, #print_button, .btn.btn-outline-secondary.cv-btn {
    display: none ;
    color: transparent;
  }
  
  a, a:hover, a:focus, a:active {
      text-decoration: none; 
      color: inherit; 
  }
  
  body, p, ol, span, div.short-entry{
    font-family: serif;
    font-size: 11pt;
    margin-bottom: 0pt;
    padding-bottom: 0pt;
    transform: translate(0, -0.9cm);
  }
  
  .cv-line{transform: translate(0, -0.9cm)}

  h2 {
    margin-top: 5pt;
    margin-bottom: 0pt;
    border-bottom: none;
    font-size: 12pt;
    font-family: serif;
    color: #19A0BE;
    font-variant-caps: all-small-caps;
    transform: translate(0, -.8cm);
  }
  
  .grid.cv-entry{
    --bs-columns: 2; 
    --bs-gap: 5pt; 
    grid-template-columns: auto 2.6cm;
  }
  
  @page { 
    margin-top: 0cm;
    
  }
  
}

